header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../images/giris.jpg');
    background-size: cover;
}


.cardLineArrangement{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latestPostArrangement{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

